langchain==0.1.4
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
ctransformers
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
Chromadb
streamlit_option_menu
streamlit_lottie
requests==2.31.0
dotenv
os
firebase_admin
platform
PIL
tempfile

